body {
  background-color: black;
  background-image: url("shopping.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.notebook {
  background-image: url("notebook.png");
  background-size: cover;
  width: 40vw;
  height: 95vh;
  position: relative;
  left: 30vw;
}

.notebook-inside {
  padding-left: 2vw;
}

h1 {
  padding-top: 5vw;
  display: flex;
  justify-content: center;
  font-size: 3vw;
}

#first {
  font-size: 1.5vw;
}

#userinput, #enter {
  font-size: 1.2vw;
}

li {
  font-size: 1.5vw;
}

.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}

.btn {
  margin-right: 5px;
  height: 1.5vw;
  width: 1.5vw;
}

/*.liInline {
  display: inline-block;
}

.buttonInline{
  display: inline-block;
}*/